---
import Base from '../../layouts/Base.astro';
import PageHero from '../../components/PageHero.astro';
---

<Base title="海外購代理店 – 技術サービス – SIA Digital Technology">
  <PageHero title="海外購代理店 – 技術サービス" />
  <main class="mx-auto max-w-4xl px-4 py-14">
    <div class="prose-body" lang="zh-Hans">
      <div class="table-scroll">
        <table>
          <tbody>
            <tr><td>项目</td><td>价格</td><td>介绍</td></tr>
            <tr>
              <td>在线店铺製作</td>
              <td><span class="text-[#0693e3]">税込1萬</span>日圓(含3个页面)<br />超过3个页面的，税込5000日圆/页面</td>
              <td>摆脱高额的服务平台费用，适合用心服务的"你"。<br />服務器租賃和域名申請費用由客戶自理，网站上線後，客户可以自行修改内容。</td>
            </tr>
            <tr>
              <td>在线支付开通协助(信用卡/支付宝/微信等)</td>
              <td><span class="text-[#0693e3]">税込1萬</span>日圓/次</td>
              <td>根據客戶提供的会社信息，法人银行账户信息，协助申请。審核結果由支付服务商负责。</td>
            </tr>
            <tr>
              <td>網頁廣告/企业品牌設計</td>
              <td><span class="text-[#0693e3]">税込5萬</span>日圓起/每頁面</td>
              <td>提供給需要廣告投放的客戶之用</td>
            </tr>
          </tbody>
        </table>
      </div>

      <figure class="!my-8 text-center">
        <img src="/images/34546.webp" alt="" class="mx-auto w-full max-w-2xl" width="643" height="400" loading="lazy" />
      </figure>

      <div class="my-12 flex justify-center">
        <a
          href="/bankhelp/"
          class="btn btn-solid !no-underline"
          >立即咨询</a
        >
      </div>
    </div>
  </main>
</Base>
