---
import Base from '../layouts/Base.astro';
import PageHero from '../components/PageHero.astro';
---

<Base title="特定商取引法に基づく表記 – SIA Digital Technology">
  <PageHero title="特定商取引法に基づく表記" />
  <main class="mx-auto max-w-4xl px-4 py-14">
    <div class="prose-body">
      <div class="table-scroll">
        <table>
          <tbody>
            <tr>
              <th>販売業者の名称</th>
              <td>ＳＩＡデジタルテクノロジー株式会社</td>
            </tr>
            <tr>
              <th>販売業者の所在地</th>
              <td>〒559-0015 大阪府大阪市住之江区南加賀屋3-8-26 YSビル6B</td>
            </tr>
            <tr>
              <th>販売業者のeメール</th>
              <td>service@siadt.jp</td>
            </tr>
            <tr>
              <th>販売業者の電話</th>
              <td>06-4400-2968</td>
            </tr>
            <tr>
              <th>販売業者の受付時間</th>
              <td>月曜日～金曜日 10:00-17:00 （祝日を除く）</td>
            </tr>
            <tr>
              <th>販売業者の代表者氏名</th>
              <td>社長：刘亜烜 LIUYAXUAN リュウアケン</td>
            </tr>
            <tr>
              <th>販売価格</th>
              <td>商品毎に消費税込みで表示しています。</td>
            </tr>
            <tr>
              <th>送料</th>
              <td>お買い上げ金額及び商品に応じて、商品価格とは別に発生いたします。<br />ご注文金額が1万円以上で送料無料となります。</td>
            </tr>
            <tr>
              <th>商品引渡し時期</th>
              <td>ご注文受付後、営業日2～7日以内発送。</td>
            </tr>
            <tr>
              <th>お支払方法</th>
              <td>
                <p>●クレジットカード決済（Stripe）<br />以下のカードがご利用可能です。<br />（Visa・MasterCard ・JCB・ American Express・DinersClub）<br />・支払い方法：翌月1回払い<br />・代金は各カード会社とのご契約口座から引き落としになります。<br />・カードのご利用は名義人ご本人に限らせていただきます。<br />・カードがご利用できない場合は、ご自身でカード会社にお問い合わせお願いいたします。<br />・弊社ではお客様個人の契約内容・ご利用履歴等は分りかねます。<br />送料など各種手数料が商品代金に加算されます。</p>
                <p>●QR code支払</p>
                <p>以下の決済サービスプロバイダーがご利用可能です。<br />（square、PayPay、Alipay、WeChat Pay等を含む）<br />・ご利用は名義人ご本人に限らせていただきます。<br />・ご利用できない場合は、ご自身でカード会社にお問い合わせお願いいたします。<br />・弊社ではお客様個人の契約内容・ご利用履歴等は分りかねます。<br />送料など各種手数料が商品代金に加算されます。</p>
                <p>●コンビニ決済</p>
                <p>ご注文完了後に発行される支払い番号にて、<br />3日以内にお支払いください。入金確認後、発送手続きを開始いたします。</p>
              </td>
            </tr>
            <tr>
              <th>領収書について</th>
              <td><strong>【クレジットカード支払いの場合】</strong>ダウンロード用URLのメールを送信させていただきます。</td>
            </tr>
            <tr>
              <th>返品・交換について</th>
              <td>
                <p><strong>【交換について】</strong><br />商品交換を承っておりません。<br />下記「返品について」のご対応をいただきましたうえで、お客様ご自身にて改めましてご注文願います。<br />※再注文時に在庫切れの場合は、ご返金のみの対応となります。ご了承願います。<br /><br /><strong>【商品不良・誤出荷の返品について】</strong><br />ご迷惑をおかけいたしまして誠に申し訳ございません。<br /><br /><strong>（ご注文時にオンラインストアにてお支払いの場合）</strong><br />※ご注文時に「クレジットカード決済」のいずれかをご選択いただいている場合<br />・お手数をおかけしまして申し訳ございませんが、商品不良・誤出荷の場合は<a href="/inquiries/">こちら</a>より連絡ください。<br />※商品不良・誤出荷以外の場合は、下記をご参照ください。<br /><br /><strong>【商品不良・誤出荷に該当しない返品について】</strong><br /><strong>以下の条件に1つでも該当する場合は、返品をお受けできません。</strong><br />1. 商品ページ・購入履歴等に<strong>【返品交換不可】</strong>の記載がある商品<br />2. お受け取りから7日を超過した商品<br />3. 加工した商品<br />４. ソフトウェアおよびシステムサービス<br />5. 開封済、使用済、着用済、その他再販が難しい商品<strong>（ご注文時にオンラインストアにてお支払いの場合）</strong><br />※ご注文時に「クレジットカード決済」のいずれかをご選択いただいている場合<br /><br />・商品に同封の返品カードに必要事項をご記入のうえ、お届けより14日以内に<br />「〒559-0015 大阪府大阪市住之江区南加賀屋3-8-26 YSビル6B返品受付 」までご返送ください。<br />ご返送商品の確認後、ご返金の案内をメールにてお送りします。<br />ご返送後10日以上ご案内が届かない場合は、<a href="/inquiries/">こちら</a>までご連絡ください。<br />・送料はお客様のご負担となります。着払いにてご返送いただいた際は、返金代金より着払い送料を差し引いてご返金いたします。<br />・ご返金は商品代金のみとさせていただきます。<br />・お振り込みでのご返金となります為、返品カードのお振り込み先は必ずご記入ください。<br />・店舗での返品・交換対応はできません。</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</Base>
